.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.layer{
    position: absolute;
    z-index: 1;
}
.cubeDisplay{
    color: white;
    font-family: DosisSemiBold;
    border: 0.2rem solid darkred;
    height: 6.25rem;
    width: 15.625rem;
    background-color: black;
    margin-top: 1em;
}
.cubeCompact{
    color: white;
    font-family: DosisSemiBold;
    border: 0.2rem solid darkred;
    height: 5rem;
    width: 7rem;
    background-color: black;
    margin-top: 1.667em;
}
.techRow{
    margin-top: 1em;
}
.tech{
    width: 6rem;
    height: 5.5rem;
    background-color: black;
    border: 0.2rem solid green;
    color: white;
}
.meteor {
    height: 1.562rem;
    width: 2rem;
    background-color: #bbb;
    border-radius: 50%;
}
.asteroidControl{
    height: 2rem;
    width: 10rem;
    border: 2px solid gray;
    background-color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}